<!DOCTYPE html>
<html>  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sales Data</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    
  </head>
  <body>
<!-- Body Starts -->
<section class="hero">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        TNA Sales Data Worksheet 
      </h1>
      <h2 class="subtitle">
        Daily Sales Breakdowns and Averages 
      </h2>
      <a class="button" href = "{{ url_for('index')}}">Home</a>
      <a class="button" href = "{{ url_for('ar15')}}">AR15</a>
      <a class="button" href = "{{ url_for('ar308')}}">AR308</a>
      <a class="button" href = "{{ url_for('tac9')}}">TAC9</a>
      <a class="button" href = "{{ url_for('blank80')}}">80%AR15</a>
      <a class="button" href = "{{ url_for('consumables')}}">Consumables</a>
      
    </div>
  </div>
</section>

{% block bodyblock %}
{% endblock %}

<!--Footer Start -->
<footer class="footer">
  <div class="content has-text-centered">
    <p>TNA Sales Data and Averages taken from Google Sheet TN Arms Daily Sales</p>
  </div>
</footer>
    </div>
  </section>
  </body>
</html>