{% extends 'base.html' %}
{% block bodyblock %}
<div class="columns">
  <div class="column is-one-third">
    
    <ul>
        <h4>30 Day Sales Consumables</h4>
        <li>Serial Numbers : {{sernum30}} </li>
        <li>Brass : {{brass30}}</li>
        <li>TAC9 Arms : {{tac9arm30}}</li>
        <li>TAC9 Ejector : {{tac9ej30}}</li>
        <li>TAC9 Button  : {{tac9but30}}</li>
        <li>AR15 Parts Kits : {{kit1530}}</li>
        <li>Buffer Ar15 : {{buffer1530}}</li>
        <li>Buffer 308 : {{buffer30830}}</li>
        <li>Buffer TAC9 : {{buffer930}}</li>
    </ul>
  </div>
    

</div>

{% endblock %}